<% if comment.errors.any? %>
<div id="error_explanation">
  <h2>Ops! Seu comentário não foi enviado por que:</h2>
  <ul>
  <% comment.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>